
.btn{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
    border-radius: 1.56rem;
    border: 0;
    padding-left: 3.25rem;
    padding-right: 3.12rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: white;
    &1{
        background:#E87A14;

    }
    &2{
        background:#14e814;
    }
}