.text {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 0.1em;
    color: black;
   

    &1{

    }
    &2{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 1.87rem;
        line-height: 2.81rem;
        color:#44C3EBCC;
        text-transform: uppercase;
    
    }
}