@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.cabecera .menu {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 3.56rem;
}
.cabecera .menu .columna2 {
  display: flex;
  gap: 3.37rem;
}
.cabecera .menu .columna3 {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.btn {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  border-radius: 1.56rem;
  border: 0;
  padding-left: 3.25rem;
  padding-right: 3.12rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: white;
}
.btn1 {
  background: #E87A14;
}
.btn2 {
  background: #14e814;
}

.link {
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
  color: black;
  text-decoration: none;
}
.link1 {
  color: black;
}
.link2 {
  color: red;
}

.container {
  width: min(100%, 80rem);
  padding: 0 1rem;
  margin: auto;
}
.container2 {
  width: min(100%, 50rem);
}

.text {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 3rem;
  line-height: 4.5rem;
  letter-spacing: 0.1em;
  color: black;
}
.text2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.87rem;
  line-height: 2.81rem;
  color: rgba(68, 195, 235, 0.8);
  text-transform: uppercase;
}
.banner {
  display: flex;
  justify-content: left;
}
.banner .columna1 {
  flex: 1;
  align-items: end;
  display: flex;
  flex-wrap: wrap;
}
.banner .columna2 {
  flex: 1;
  justify-content: end;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.banner .columna2 img {
  width: min(100%, 20rem);
}
.banner .titulo {
  margin-bottom: 0.81rem;
}
.banner .parrafo {
  margin-bottom: 3.68rem;
}
.banner2 .parrafo {
  font-size: 1rem;
  line-height: 1.5rem;
}
.banner3 .columna2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.banner4 {
  display: flex;
  gap: 10rem;
}
.banner4 .columna1 {
  order: 1;
  align-items: flex-start;
}
.banner4 .parrafo {
  font-size: 1rem;
  line-height: 1.5rem;
}
.banner4 .columna2 {
  display: flex;
  justify-content: flex-start; /**colocar columna a la inversa**/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* crea columnas con un ancho mínimo de 200px y máximo de 1fr */
  grid-gap: 10px;
  /* establece un espacio de 10px entre los elementos */
}
.banner4 .columna2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=index.css.map */
