@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
html {
  overflow: hidden;
  overflow-y: auto;
  /** Media query: sirve para estblecer estilos que se aplica bajo una regla de css,
      se utiliza en pixeles, sirve para ser responsi que se muestre bien en movil, tablet, computadora

      en css la regla se aplca bajo las siguientes condiciones:
      1) Se aplica de menor a mayor



      **/
  font-size: 10px; /* a medida que cambia el tamaño de la letra el font-size de html todas las unidades en REM se actualiza, se aplica de acuerdo al tamaño*/
}
@media (min-width: 576px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

body {
  width: 100vw; /*vw:porcentaje en relacion al ancho de  la pantalla*/
  min-height: 100vh; /* vh: proporcion al alto de la pantalla*/
  overflow: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.cabecera .menu {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 3.56rem;
  padding-top: 1rem;
  gap: 1rem; /*=> Gap solo, se utiliza para separar columna y fila, funcionando con display flex y dispaly grid*/
  flex-direction: column;
}
@media (min-width: 992px) {
  .cabecera .menu { /* cada componenete debe aplicar el responsive, flex-direction: row  y column se coloca  uno debajp del otro*/
    flex-direction: row;
  }
}
.cabecera .menu .columna2 {
  display: flex;
  flex-wrap: wrap; /*=> en caso de que el elemento no quepa uno al lado del otro lo coloca hacia abajo*/
  column-gap: 3.37rem; /*=> separar horizontal entre columnas*/
  row-gap: 0.5rem; /*separar verticalmente entre filas*/
  justify-content: center;
}
@media (min-width: 768px) {
  .cabecera .menu .columna2 {
    justify-content: left;
  }
}
.cabecera .menu .columna3 {
  flex-wrap: wrap;
  display: flex;
  gap: 3rem;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.btn {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  border-radius: 1.56rem;
  border: 0;
  padding-left: 3.25rem;
  padding-right: 3.12rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: white;
}
.btn1 {
  background: #E87A14;
}
.btn2 {
  background: #14e814;
}

.link {
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
  color: black;
  text-decoration: none;
}
.link1 {
  color: black;
}
.link2 {
  color: red;
}

.container {
  width: min(100%, 80rem);
  padding: 0 1rem;
  margin: auto;
}
.container2 {
  width: min(100%, 50rem);
}

.text {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 3rem;
  line-height: 4.5rem;
  letter-spacing: 0.1em;
  color: black;
}
.text2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.87rem;
  line-height: 2.81rem;
  color: rgba(68, 195, 235, 0.8);
  text-transform: uppercase;
}
.banner {
  display: flex;
  justify-content: left;
  flex-direction: column;
  /*=>para que los elementos se coloquen uno debajo del otro obligado*/
}
@media (min-width: 992px) {
  .banner {
    flex-direction: row;
  }
}
.banner .columna1 {
  flex: 1;
  align-items: end;
  display: flex;
  flex-wrap: wrap;
}
.banner .columna1 .content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .banner .columna1 .content-info {
    align-items: start;
  }
}
.banner .columna2 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 992px) {
  .banner .columna2 {
    justify-content: end;
  }
}
.banner .columna2 img {
  width: min(100%, 20rem);
}
.banner .titulo {
  margin-bottom: 0.81rem;
}
.banner .parrafo {
  margin-bottom: 3.68rem;
}
.banner2 .parrafo {
  font-size: 1rem;
  line-height: 1.5rem;
}
.banner3 .columna2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.banner4 {
  display: flex;
  gap: 10rem;
}
.banner4 .columna1 {
  order: 1;
  align-items: flex-start;
}
.banner4 .parrafo {
  font-size: 1rem;
  line-height: 1.5rem;
}
.banner4 .columna2 {
  display: flex;
  justify-content: flex-start;
  /**colocar columna a la inversa**/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* crea columnas con un ancho mínimo de 200px y máximo de 1fr */
  grid-gap: 10px;
  /* establece un espacio de 10px entre los elementos */
}
.banner4 .columna2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tituloimg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px;
}
.tituloimg img {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9) blur(1px);
  z-index: 0;
}
.tituloimg .text {
  color: whitesmoke;
  z-index: 1;
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}

input {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.5rem;
  border: 0.3rem solid #E87A14;
  background: white;
  color: black;
}

/*# sourceMappingURL=index.css.map */
