.cabecera{
    
    .menu{
        justify-content: space-between;
        display: flex;
        align-items: center;

      
        .columna2{
            display: flex;
            gap: 3.37rem;
        }
        
        .logo{
            
        }
        
        .columna3{
            display: flex;
            gap: 3rem;
            align-items: center;
        }
    }
}
