.banner {
    display: flex;
    justify-content: left;
    flex-direction: column;

    /*=>para que los elementos se coloquen uno debajo del otro obligado*/
    @media (min-width:992px) {
        flex-direction: row;
    }

    .columna1 {
        flex: 1;
        align-items: end;
        display: flex;
        flex-wrap: wrap;

        .content-info {
            display: flex;
            flex-direction: column;

            //celular
            align-items: center;
            margin-left: 2rem;

            @media (min-width: 992px) {
                //compotuadora
                align-items: start;
                margin-left: 0;
            }
        }
    }

    .columna2 {
        flex: 1;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2rem;

        @media (min-width:992px) {
            margin-top: 0rem;

        }

        //celulares
        justify-content: center;

        @media (min-width:992px) {
            // computadora
            justify-content: end;
        }

        img {
            width: min(100%, 20rem);
        }
    }

    .titulo {
        margin-bottom: 0.81rem;
    }

    .parrafo {
        margin-bottom: 3.68rem;
        text-align: center;

        @media (min-width:992px) {
            text-align: left;

        }
    }

    &2 {
        .parrafo {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    &3 {
        .columna2 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1rem;
        }

        .columna1 {

            justify-content: center;
            align-items: center;
            display: flex;

            @media (min-width:992px) {
               

            }
        }

    }

    &4 {

        display: flex;
        gap: 10rem;

        .columna1 {
            order: 1;
            align-items: flex-start;

        }

        .parrafo {
            font-size: 1rem;
            line-height: 1.5rem;

        }

        .columna2 {
            display: flex;
            justify-content: flex-start;
            /**colocar columna a la inversa**/
            display: grid;

            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            /* crea columnas con un ancho mínimo de 200px y máximo de 1fr */
            grid-gap: 10px;
            /* establece un espacio de 10px entre los elementos */

            img {

                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }





}